.distributor {
    display: flex;
    flex-flow: row wrap;
    width: 50%;
    border: 1px solid black;
    margin-bottom: 1.25rem;
}

.distributor > h3 {
    text-align: center;
    width: 100%;
}

.distributor-info {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    align-self: flex-start;
}

.distributor-info > div {
    width: 50%;
}

.distributor-info > div > h4 {
    width: 100%;
    text-align: center;
}

.distributor-info > div > * {
    margin-top: 0rem;
}


#parent {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.retailer {
    width: 50%;
}

.flower-info {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.logo {
    width: 50%;
}